{% extends 'base.html' %}

{% block content %}
	<div class="container">
        <main class="py-4">
        	<h1>About the Django Software Foundation</h1>
            <p>
                Development of Django is supported by an independent foundation established as a 501(c)(3) non-profit. Like most open-source foundations, the goal of the Django Software Foundation is to promote, support, and advance its open-source project: in our case, the Django Web framework.
                <br>
                The foundation's goals are to: 
            </p>

            <ul>
                <li>
                    Support development of Django by sponsoring sprints, meetups, gatherings and community events.
                </li>
                <li>
                    Promote the use of Django among the world-wide Web development community.
                </li>
                <li>
                    Protect the intellectual property and the framework's long-term viability.
                </li>
                <li>
                    Advance the state of the art in Web development.
                </li>
            </ul>

        </main>
    </div>
{% endblock %}