{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<div class="container">
    <main class="py-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Dashboard</div>

                    <div class="card-body">
                        <a href="{% url 'blog:create_post' %}" class="btn btn-primary mb-2">Create Post</a>
                        <h3>Your Blog Posts!</h3>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in posts %}
                                <tr>
                                    <td>{{ post.title }}</td>
                                    <td>
                                        <a href="{% url 'blog:edit' post.id %}" class="btn btn-success">Edit</a>
                                        <form action="{% url 'blog:delete' post.id %}" method="POST" class="float-right">
                                            {% csrf_token %}
                                            <input type="submit" value="Delete" class="btn btn-danger">
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
