{% extends 'base.html' %}

{% block content %}
	<div class="container">
        <main class="py-4">
        	<h1>Posts</h1>
            {%  for post in posts %}
            <div class="card bg-light text-dark mt-2">
                <div class="card-body">
                    <a href="{% url 'blog:show' post.id %}"><h3>{{ post.title }}</h3></a>
                    <small>Written on {{ post.created_at }}</small>
                </div>
            </div>
            {% empty %}
            <h1>No posts available.</h1>
            {% endfor %}
        </main>
    </div>
{% endblock %}