{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <main class="py-4">
            <h1>Services</h1>
            <ul class="list-group">
                <li class="list-group-item">
                    Django was designed to help developers take applications from concept to completion as quickly as possible.
                </li>
                <li class="list-group-item">
                    Django takes security seriously and helps developers avoid many common security mistakes.
                </li>
                <li class="list-group-item">
                    Some of the busiest sites on the Web leverage Django’s ability to quickly and flexibly scale.
                </li>
            </ul>

        </main>
    </div>
{% endblock %}