{% extends 'base.html' %}

{% block title %} Password reset complete {% endblock %}

{% block content %}
<div class="container">
    <main class="py-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Password reset complete</div>

                    <div class="card-body">
						<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}